<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<div class="row">
   <h3>Satunnaisotos tapahtumista</h3>
   <div class="karuselli col-12">
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
      <div>
         <img height="160px" width="240px" src="<%= meteli[Math.floor((Math.random() * meteli.length))].image %>" />
      </div>
   </div>
</div>

<div class="row">
   <div id="news" class="col-sm"> <h3>Uutiset</h3>
      <% for (var i = 0; i < news.length; i++) { %>
      <div class="headlinediv"><a style="margin: 0; padding: 0;" href="<%= news[i].headline_url %>"
            target="_blank"><%= news[i].headline %></a><br><%= news[i].media %></div>
      <% } %>
   </div>
    <div class="col-sm">Contenttia</div>
    <div class="col-sm">Contenttia</div>
</div>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>


<script>

   $(document).ready(function () {
      $('.karuselli').slick({
         centerMode: true,
         dots: true,
         centerPadding: '160px',
         slidesToShow: 3,
         responsive: [
            {
               breakpoint: 768,
               settings: {
                  arrows: false,
                  centerMode: true,
                  centerPadding: '140px',
                  slidesToShow: 5
               }
            },
            {
               breakpoint: 480,
               settings: {
                  arrows: false,
                  centerMode: true,
                  centerPadding: '140px',
                  slidesToShow: 1
               }
            }
         ]
      });
   });

</script>