<%- include layouts/header.ejs %>


<div class="container">

   <% if (typeof results !== 'undefined' && results.length > 0) { %>
   <div>
      <h2>Paikat</h2>
      <% results.forEach(function(result){ %>
      <div>
         <p><%= result.name %> <a href="https://maps.google.com?q=<%= result.formatted_address.split(',')[0] %>+jyväskylä"
               target=_blank><%= result.formatted_address.split(',')[0] %></a> <%= result.types[0] %></p>
      </div>
      <% }); %>
   </div>
   <% } %>

   <% if (typeof eventResult !== 'undefined' && eventResult.length > 0) { %>
   <div>
      <h2>Tapahtumat</h2>
      <% eventResult.forEach(function(result){ %>
      <div>
         <p><a href="<%= result.url %>" target=_blank><%= result.name %></a> <%= result.address %> <%= result.date %></p>
      </div>
      <% }); %>
   </div>
   <% } %>

</div>

<%- include layouts/footer.ejs %>