<%- include layouts/header.ejs %>

   <% if (typeof placeData.results !== 'undefined' && placeData.results.length > 0) { %>
   <div>
      <h2>Paikat</h2>
      <% placeData.results.forEach(place => { %>
      <div>
         <p><%= place.name %> <a href="https://maps.google.com?q=<%= place.formatted_address.split(',')[0] %>+jyväskylä"
               target=_blank><%= place.formatted_address %></a> <%= place.types[0] %></p>
      </div>
      <% }); %>
   </div>
   <% } %>

   <% if (typeof eventData !== 'undefined' && eventData.length > 0) { %>
   <div>
      <h2>Tapahtumat</h2>
      <% eventData.forEach(event =>{ %>
      <div>
         <p><a href="<%= event.url %>" target=_blank><%= event.name %></a> <%= event.address %> <%= event.date %></p>
      </div>
      <% }); %>
   </div>
   <% } %>

<%- include layouts/footer.ejs %>