<% include ../partials/header %>

<div class="container">
   <% user.forEach(user => { %>
   <div id="profilePic"><img src="<%= user.profilePic %>"></div>
   <div id="profileInfo">
      <h2 class="display-3"><%= user.username %></h2>
      <p><%= user.firstName %></p>
      <p><%= user.lastName %></p>
      <p><%= user.email %></p>
   </div>
   <form class="delete-form" action="/user/<%= user._id %>/?_method=DELETE" method="post">
      <button class="btn btn-danger">Poista Tili</button>
   </form>
   <% }) %>
</div>

<% include ../partials/footer %>